body {
  background-color: #191919;
  color: #eee;
}

body,
body * {
  font-family: 'Lato', sans-serif !important;
}

body.home {
  background-image: url(/assets/images/aura.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 239px 741px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 21px;
}

a:link,
a:visited {
  border-bottom: 1px dotted #eee;
  color: #eee;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.nav-home {
  margin: 20px 0 0 10px;
}

.nav-home a:link,
.nav-home a:visited,
.nav-home a:hover,
.nav-home a:focus,
.nav-home a:active {
  border: none;
  color: #eee;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-home a:hover,
.nav-home a:focus,
.nav-home a:active {
  color: #fff;
}

.nav-home .nav-home-brand {
  font-size: 32px;
  font-weight: bold;
}

.nav-home ul {
  font-size: 20px;
  line-height: 49px;
  list-style-type: none;
  margin-top: 20px;
  padding: 0;
}

.navbar {
  background: #191919;
  border-color: #444;
  border-left-width: 0;
  border-right-width: 0;
  border-top-width: 0;
  border-radius: 0;
}



.navbar a,
.navbar a:link,
.navbar a:visited,
.navbar a:hover,
.navbar a:focus,
.navbar a:active {
  border: none;
  color: #eee !important;
  text-shadow: none;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 23px;
  font-weight: bold;
  margin-top: 4px;
}

.navbar-toggle {
  border: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus,
.navbar-toggle:active {
  background: transparent !important;
  color: #ddd;
}

.navbar-toggle:before {
  background-image: url(/assets/images/aura-sm.jpg);
  background-repeat: no-repeat;
  background-size: 34px 60px;
  content: '';
  display: inline-block;
  height: 60px;
  left: -35px;
  position: absolute;
  top: -6px;
  width: 34px;
}

.navbar-toggle .icon-bar {
  border-radius: 0;
  height: 3px;
  margin-bottom: 7px;
  width: 37px;
}

.navbar-collapse {
  border-top: 0;
}


@media (min-width:768px) {
  body.home {
    background-size: 479px 1482px;
  }

  .nav-home {
    margin-left: 20px;
  }

  .navbar-brand {
    margin-top: 0;
  }

  .navbar {
    overflow: hidden;
  }

  .navbar:after {
    background-image: url(/assets/images/aura-sm.jpg);
    background-repeat: no-repeat;
    background-size: 34px 60px;
    content: '';
    display: inline-block;
    height: 60px;
    position: absolute;
    right: 0;
    top: -2px;
    width: 34px;
  }
}